@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
                
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body, html {
  max-width: 100svw;
  max-width: 100dvw;
  overflow-x: hidden;
}

.hover.active, .hover:hover {
  background-color: #18181B;
  color: #fff !important;
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

ul > li {
  cursor: pointer;
}